<div class="w-full h-screen bg-purple-400 p-3">
  <h1 class="text-center text-white font-bold text-3xl">Production Stages</h1>
  <div class="w-full">
    <div class="w-full my-2 mx-auto">
      <form #ideaForm="ngForm">
        <div class="flex justify-center items-start gap-2 h-fit w-96 mx-auto">
          <div class="w-full">
            <input
              type="text"
              placeholder="Enter New Idea"
              class="w-full text-white py-2 px-2 border-2 border-white rounded-lg bg-transparent placeholder:text-white"
              [class]="
                ideaField.touched && ideaField.invalid
                  ? 'border-2 border-red-400'
                  : ''
              "
              [(ngModel)]="newIdea"
              name="ideaField"
              #ideaField="ngModel"
              required
            />
            @if (ideaField.touched && ideaField.invalid) {
            <div class="text-red-400 text-sm">
              @if (ideaField.errors?.['required']) {
              <span>*Idea is a required field!</span>
              }
            </div>
            }
          </div>
          <button
            class="bg-white text-purple-700 w-fit py-2 px-4 rounded-lg"
            [class]="
              ideaForm.invalid
                ? 'bg-gray-300 hover:bg-gray-300 cursor-not-allowed'
                : 'hover:bg-white/95 cursor-pointer'
            "
            (click)="addNewItem()"
            [disabled]="ideaForm.invalid"
          >
            Add
          </button>
        </div>
      </form>

      <div class="flex justify-center items-center w-full mx-auto">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 sm:gap-10 gap-5 px-10 my-7 lg:w-fit md:w-fit mx-auto w-fit"
        >
          <div class="text-white">
            <h2 class="text-xl font-bold">Idea Stage</h2>
            <div class="pl-9">
              <ul>
                @for (item of idea; track $index) {
                <li
                  class="list-disc cursor-pointer"
                  (click)="movingFoward('idea', $index)"
                >
                  {{ item }}
                </li>
                }
              </ul>
            </div>
          </div>
          <div class="text-white">
            <h2 class="text-xl font-bold">Prototype Stage</h2>
            <div class="pl-9">
              <ul class="">
                @for (item of prototype; track $index) {
                <li
                  class="list-disc cursor-pointer"
                  (dblclick)="movingBackward('prototype', $index)"
                  (click)="movingFoward('prototype', $index)"
                >
                  {{ item }}
                </li>
                }
              </ul>
            </div>
          </div>
          <div class="text-white">
            <h2 class="text-xl font-bold">Development Stage</h2>
            <div class="pl-9">
              <ul>
                @for (item of development; track $index) {
                <li
                  class="list-disc cursor-pointer"
                  (dblclick)="movingBackward('development', $index)"
                  (click)="movingFoward('development', $index)"
                >
                  {{ item }}
                </li>
                }
              </ul>
            </div>
          </div>
          <div class="text-white">
            <h2 class="text-xl font-bold">Ship Stage</h2>
            <div class="pl-9">
              <ul>
                @for (item of ship; track $index) {
                <li
                  class="list-disc cursor-pointer"
                  (dblclick)="movingBackward('ship', $index)"
                >
                  {{ item }}
                </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
